body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    margin: 0;
    background: url('../photos/pexels-vojtech-okenka-127162-392018.jpg') no-repeat center center/cover;
}

.signup-container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

/* Logo Styling */
.logo-container {
    text-align: center;
    margin-bottom: 15px;
}

.logo-img {
    width: 150px;
    height: auto;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-group {
    display: flex;
    gap: 10px;
}

.input-group div {
    flex: 1;
}

label {
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0 5px;
    display: block;
}

input, select {
    width: 85%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}



button {
    background-color: #0a8000;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #065c00;
}

.login-text {
margin-top: 25px;
    font-size: 14px;
   text-align: left;
}

.login-text a {
    color: green;
    text-decoration: none;
}

.apply-text {
    text-align: left;
    font-size: 14px;
}

.apply-text a {
    color: green;
    text-decoration: none;
}

